<link rel="stylesheet" href="./css/about.css">
<div class="about">
  <h1>About</h1>
  <p class="about-para">
    Greetings! I am Janette Dulfo 19-year-old second-year student residing in Kihare, Manolo Fortich, Bukidnon.
     I am pursuing my studies in IT at IT24B, and I am passionate about event-driven activities.
     </p>
     <br>
     <br>
     <br>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<br>

<div  class="social">
     <ul>
       <li>
        <a href=""id="fb" target="_blank">
          <script>
            document.getElementById('fb').addEventListener('click', function(event) {
                event.preventDefault(); 
                var url = this.href;
                window.open(url, '_blank'); 
            });
        </script>
           <i class="fab fa-facebook"></i>
         </a>
       </li>
       <li>
        <a href="id="github" target="_blank">
          <script>
            document.getElementById('github').addEventListener('click', function(event) {
                event.preventDefault(); 
                var url = this.href;
                window.open(url, '_blank'); 
            });
        </script>
           <i class="fab fa-github"></i>
         </a>
         </li>
       <li>
        <a href=""id="ig" target="_blank">
          <script>
            document.getElementById('ig').addEventListener('click', function(event) {
                event.preventDefault(); 
                var url = this.href;
                window.open(url, '_blank'); 
            });
        </script>
           <i class="fab fa-instagram"></i>
         </a>
         
       </li>
       <li>
         <a href="id="spotify" target="_blank">
          <script>
            document.getElementById('spotify').addEventListener('click', function(event) {
                event.preventDefault(); 
                var url = this.href;
                window.open(url, '_blank'); 
            });
        </script>
       
           <i class="fab fa-spotify"></i>
         </a> 
       </li>
     </ul>
    </div>